.vs/
*.obj
packages/
*.tlog
*.html
coverage/
x64/
UnitTest/Debug/
Debug/
CRA.sln
CRA.sln.DotSettings.user
*.user
LastCoverageResults.log
CRA/CRA.vcxproj
CRA/CRA.vcxproj.filters
UnitTest/pch.cpp
UnitTest/packages.config
UnitTest/pch.h
UnitTest/UnitTest.vcxproj
